.add-course-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-preview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}
.form-container {
    min-width: 50%;
}
.course-container {
    width: fit-content;
}
