.topic-container {
    background-color: #061b2b;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 20px 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topic-container p {
    font-size: 20px;
    display: block;
}
