body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#app-container {
    height: 100vh;
  }

#app-base-layout {
    padding: 1em;
  }

.saludo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
  }
  
.saludo-greeting {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .inicio_agregar {
    font-size: 1.25rem;
    font-weight: 450;
    margin-top: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  .agregarc {
    font-size: 2.25rem;
    margin-top: -10px;
    font-weight: 500;
    text-align: left;
  }

  .agregarc, .inicio_agregar, .fecha, .newCourse, .newCourse_, .newCourse_inpt, .descripcion {
    padding-left: 20px;
  }

  .newCourse_inpt {
    position: absolute;
    margin-top: 80px;
    align-items: left;
    top: 180px;
    left: -190px;
    border-radius: 10px;
    border-width: 1.6px;
    border-color:#b3b3b3c9;
    width: 500px;
  }

  .description {
    position: absolute;
    align-items: left;
    top: 370px;
    left: 39px;
    border-radius: 10px;
    border-width: 1.6px;
    font-size: 10px;
    border-color:#b3b3b3c9;
    width: 520px;
    height: 200px;
  }
  
  .newCourse_inpt::placeholder {
    font-size: 16px;
    text-align: left;
    color: #7c7c7c;
    font-weight: 365;
    position: relative;
    top: -5px;
    left: -7px;
  }

  .description::placeholder {
    font-size: 16px;
    text-align: left;
    color: #7c7c7c;
    font-weight: lighter;
    position: relative;
    top: -80px;
    left: 10px;
  }

  .newCourse_, .descripcion {
    align-items: left;
    font-size: 22px;
  }

  #newCourse, #newCourse_ {
    font-size: 30px;
    font-weight: light;
    margin-left: 15%;
    font-family: var(--fuente);
  }
  
  .agregar {
    background-color: rgb(5, 174, 5);
    font-size: 20px;
    position: relative;
    left: 25%;
    top: 280px;
    border: none;
    border-radius: 10px;
    height: 40px;
    color: white;
    cursor: pointer;
  }

  .fecha, .cargo, .modalidad {
    position: absolute;
    top: 585px;
    font-size: 20px;
    color: rgb(82, 82, 82)
  }

  .fecha {
    left: 29px;
  }
  
  .cargo {
    left: 220px;
  }
  
  .modalidad {
    left: 410px;
  }

  .agregar:hover {
    background-color: rgb(4, 137, 4); 
  }
  
  .descripcion {
    margin-top: 80px;
    font-weight: 400;
  }

  .logo-der {
    position: absolute;
    top: 10%;
    right: 0;
    margin: 15px;
    width: 80px; 
    height: 70px; 
  }
  
  .navbar {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #CF2A2A;
    display: flex;
    align-items: center;
    padding: 22px;
  }
  
  .navbar-button {
    padding-right: 60px;
    color: white;
    background-color: transparent;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: light;
    /* text-transform: uppercase; */
  }
  
  
  .btn_perfil {
    height: 65px;
    position: absolute;
    right: 70px
    
  }

  .sidebar-button {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sidebar-button:hover {
    background-color: #777;
  }
  

.grafica {
  margin-top: 1%;
  margin-left: 2px;
  width: 600px;
  height: 400px;
}

.personas_inscritas {
  margin-left: -160px;
  top: 120px;
}

.btn-info {
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  border: 1px solid #27B0C3;
  background-color: #27B0C3;
  color: white;
  font-size: 1.1rem;
}

.btn-info:hover {
  background: none;
  color: #27B0C3;
}
