#course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#course-container .course-card {
    width: 15vw;
    /* height: 62vh; */
    margin-bottom: 2rem;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label {
    margin-bottom: 20px;
    margin-right: 30px;
}

input[type='text'] {
    padding: 10px;
    border: 2px solid #bdb0b0;
    font-size: 15px;
    transition: border-color 0.3s ease-in-out;
}

input[type='text']:focus {
    border-color: rgb(232, 85, 72);
}

.search-container {
    display: flex;
}

.input-container:first-child {
    flex-basis: 70%;
}

.input-container:last-child {
    flex-basis: 30%;
    height: 80px;
}

.search-container2 {
    display: flex;
}

.input-container2 {
    flex: 1;
}

.input-general2 {
    width: 100%;
}
