.saludo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
  
  .saludo-greeting {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .logo-der {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    width: 70px; 
    height: 70px; 
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 150px;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .sidebar-button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sidebar-button:hover {
    background-color: #777;
  }
  